*,
*::after,
*::before {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

:root {
    /* TODO: change color pallete */
    --sidebar-bg: #1992d4;
    --header-bg: white;
    --main-bg: #E2E8F0;
    --card-outline-clr: #F0B429;
    --small-icon-size: 30px;
    --small-avatar-size: 40px;
    --bigger-avatar-size: 50px;
    --sidebar-text-clr: white;
    --search-bg: #E2E8F0;
    --main-button-clr: #1992D4;
}
.wrapper {
    display: grid;
    grid: [row1-start] "sidebar header" 1fr [row1-end]
          [row2-start] "sidebar main"   5fr [row2-end]
          / 1fr 5fr;
    height: 100vh;
}

nav {
    grid-area: sidebar;
    background-color: var(--sidebar-bg);

    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    color: var(--sidebar-text-clr);
}

header {
    grid-area: header;
    background-color: var(--header-bg);
    padding: 1rem 3rem;

    display: grid;
    grid-template: 2fr 3fr / 2fr 1fr;
}


main {
    grid-area: main;
    background-color: var(--main-bg);
}

.avatar {
    border-radius: 50%;
}

.header--account {
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header--account > p {
    font-size: 1.2rem;
    font-weight: 900;
}


.search-bar {
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.small-icon {
    height: var(--small-icon-size);
}

.small-avatar {
    height: var(--small-avatar-size);
}

.hello {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hello > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.hello > img {
    height:var(--bigger-avatar-size);
    float: left;
    margin: 0 1rem 0 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

button {
    flex: 1;
    background-color: var(--main-button-clr);
    color: white;
    font-weight: 700;
    font-size: 1.05rem;
    border-radius: 1rem;
    height: 40%;
}
nav > h1 {
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

h1 > img {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(343deg) brightness(107%) contrast(101%);
}

nav .small-icon {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(343deg) brightness(107%) contrast(101%);
}

ul {
    list-style: none
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 1.2rem;
    font-weight: 700;
}

.sidebar-links li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 1rem;
    padding: 0rem 1rem 2rem 1rem;
}

article {
    grid-area: 1 / 1 / 3 / 2;
    /*background-color: yellow;*/
}

article > *:first-child {
    height: 8%;
}

.card-wrapper {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    height: 92%;
    gap: 1rem;
}

.card-wrapper > div {
    border: 1px solid black;
}

.announce {
    background-color: magenta;
}

.trend {
    background-color: skyblue;
}

input[type="search"] {
    background-color: var(--search-bg);
    border: none;
    width: 80%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.hello strong {
    font-size: 24px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 2rem;
    box-shadow: 10px 0px 0px var(--card-outline-clr) inset;
    background-color: white;
}

.card > .icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}
